<div class="connectionsView">
    <nav class="tab-fixed">
        <ul class="tab-inner">
            <li class="active"><a class="toggleTab" id="1"> All </a> </li>
            <li><a class="toggleTab" id="2"> Brands </a></li>
            <li><a class="toggleTab" id="3"> Users </a></li>
        </ul>
    </nav>
    <div class="content">
        <ul class="list inset" id="connections">

        </ul>
    </div>
</div>