<li class="list-item-two-lines">
    <a class="clickEventItem" id="{{event._id}}">
        <img src="{{event.uploadedpic}}" class="resultImage">
    </a>
    <div class="resultInfo">
        <h3>{{event.title}}</h3>
        <p>{{event.owner}}</p>
        {{#if event.recurring}}
            <p>{{event.HHMMStart}}</p>
        {{else}}
            <p>{{event.timeStart}}</p>
        {{/if}}
    </div>
</li>