<div class="homeView">
    <ul class="list inset" id="homeEvents">

    </ul>
    <ul class="list inset" id="showLoadMore">
        {{#if showLoadMore}}
        <li class="list-item-two-lines"><button class="btn focused" id="loadMore">Load More</button></li>
        {{/if}}
    </ul>
</div>