<li class="list-item-two-lines">
    <a class="clickUserItem" id="{{user._id}}">
        <img src="{{getObjFromIndex user.profile.uploadedpic 'src' }}" class="resultImage">
    </a>
    <div class="resultInfo">
        <h3>{{user.username}}</h3>
        {{#if user.profile.business_name}}
        <p>{{user.profile.business_name}}</p>
        {{else}}
        <p>{{user.profile.first_name}} &nbsp {{user.profile.last_name}}</p>
        {{/if}}
    </div>
</li>