body {
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1.intro {
    font-weight: 200;
    margin: 0.2em 0;
}

p {
    color: #999;
    margin-bottom: 1em;
}

.center-me {
    text-align: center;
}

.list i[class*="icon-"] {
    float: left;
    font-size: 36px;
    color: #999;
}
.i-class {
    float: left;
    line-height: 36px;
    margin-left: 8px;
}
.footnote {
    display: block;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #222;
    font-size: 11px;
}

.imgWidth {
    height:auto;
    width:100%;
}

.resultImage {
    height:auto;
    width: 20%;
    float:left;
}

.resultInfo {
    width: 70%;
    float:right;
}

#content {
    overflow-y: scroll;
    overflow-x: hidden;
}