<div id="login">
    <form class="inset">
        <label class="block-label">Username/Email</label>
        <input id="usernameInput" type="username" name="username" placeholder="Username or Email" class="input-text">
        <label class="block-label">Password</label>
        <input id="passwordInput" type="password" name="password" placeholder="Password" class="input-text">
        <div class="form-actions">
            <input type="submit" class="btn btn-block" value ="Log In" id="submitLogin">
        </div>
    </form>
</div>
