<div class="profileView">
        <nav class="tab-fixed">
            <ul class="tab-inner">
                <li class="active"><a class="toggleTab" id="infoTab"> Info </a> </li>
                <li><a class="toggleTab" id="eventTab"> Events </a></li>
            </ul>
        </nav>
        <div class="content" id="profContent">
            <ul class="list inset" id = "profInfo">
                {{#if prof.username}}
                <li class="list-divider">{{prof.username}}</li>
                <img src="{{getObjFromIndex prof.profile.uploadedpic 'src' }}" class="imgWidth">
                <li class="list-item-single-line">{{prof.profile.first_name}} {{prof.profile.last_name}}</li>
                {{#if amIFollowing}}
                <li class="list-item-two-lines"><button class="btn focused" id="getFollowing">Following {{numFollow prof.brandFollowing prof.consumerFollowing}}</button></li>
                <li class="list-item-two-lines"><button class="btn focused" id="getFollower">Followers {{numFollow prof.brandFollowers prof.consumerFollowers}}</button></li>
                {{else}}
                {{#if followRequestSent}}
                <li class="list-item-two-lines"><button class="btn focused" id="removeReqButton">Remove Request</button></li>
                {{else}}
                <li class="list-item-two-lines"><button class="btn focused" id="followButton">Follow</button></li>
                {{/if}}
                {{/if}}
                {{/if}}
            </ul>
            <ul class="list inset" id="profEvents">

            </ul>
            <ul class="list inset" id = "showLoadMore">
                {{#if showLoadMore}}
                <li class="list-item-two-lines"><button class="btn focused" id="loadMore">Load More</button></li>
                {{/if}}
            </ul>
        </div>
</div>