<div class="page">
    <header class="action-bar docs-header">
        <div id="homeDiv">
            {{#if showBack}}
                <a id="navBack" class="app-icon action" data-ignore="true">
                    <i class="icon-up-button"></i>
                    <i class="icon-fries"></i>
                    <h1 class="title">{{showTitle}}</h1>
                </a>
            {{else}}
                <a id="navHome" class="app-icon action" data-ignore="true">
                    <i class="icon-fries"></i>
                    <h1 class="title">Moxx</h1>
                </a>
            {{/if}}
        </div>

        <div id="showMenu">
        {{#if loggedIn}}
            <div class="tab-fixed">
                <ul class="tab-inner">
                    <li><a title="Profile">Profile</a></li>
                    <li><a title="Account">Account</a></li>
                    <li><a title="Account">Log Out</a></li>
                </ul>
            </div>
            <ul class="actions pull-right">
                <li class="action-overflow-docs">
                    <a class="action action-overflow-icon toggle-spinner"><i></i></a>
                    <ol reversed="reversed" class="action-overflow-list spinner">
                        <li class="spinner-item"><a id="navProfile" title="Profile">Profile</a></li>
                        <li class="spinner-item"><a id="navAccount" title="Account">Account</a></li>
                        <li class="spinner-item"><a id="navLogout" title="Log Out">Log Out</a></li>
                    </ol>
                </li>
            </ul>
        {{/if}}
        </div>
    </header>

    <div id="content" class="content inset">
    </div>
</div>